<form action="/restaurant/{{rest._id}}/edit" method="POST">
  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廰名稱</span>
    </div>
    <input type="text" name="name" class="form-control" placeholder="name" value="{{ rest.name }}">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">菜式類型</span>
    </div>
    <input type="text" name="category" class="form-control" placeholder="category" value="{{ rest.category }}">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">給予評分</span>
    </div>
    <input type="text" name="rating" class="form-control" placeholder="rating" value="{{ rest.rating }}">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">相片網址</span>
    </div>
    <input type="text" name="image" class="form-control" placeholder="image" value="{{ rest.image }}">
  </div>
  <button type="submit">Save</button>
</form>